* {
    box-sizing: border-box;
    font-family: 'Lucida Bright', sans-serif;
}

body {
    background: linear-gradient(120deg, #a1c4fd, #c2e9fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 900px;
    max-width: 100%;
    min-height: 550px;
}

/*---Forms ---*/
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

/* ---Oberrley--- */
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

/* --- porrm Bakss--- */
.form-box {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input-box {
    width: 100%;
    margin: 10px 0;
}

.input {
    width: 100%;
    padding: 12px;
    border: none;
    background: #f0f0f0;
    border-radius: 8px;
    outline: none;
}

/* --- Options sa Remember tas Forgot --- */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 14px;
    color: #555;
    margin: 8px 0 20px 0;
}

.remember {
    display: flex;
    align-items: center;
}

    .remember input {
        margin-right: 5px;
        accent-color: #4a90e2; /* kulay sa check box */
    }

.forgot {
    color: #4a90e2;
    text-decoration: none;
}

    .forgot:hover {
        text-decoration: underline;
    }

/* --- Buttons sa paglipat  --- */
.btn, .ghost {
    border-radius: 20px;
    border: 1px solid #4a90e2;
    background-color: #4a90e2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

    .btn:hover, .ghost:hover {
        background-color: #357ABD;
    }

.ghost {
    background-color: transparent;
    border-color: #fff;
}


.message-label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

    .message-label.error {
        color: #e74c3c; /* red color error */
    }

    .message-label.success {
        color: #2ecc71; /* green for sumakses */
    }
