<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- ✅ Database Connection -->
	<connectionStrings>
		<add name="LaundryConnection"
			 connectionString="Data Source=TSUJIN\SQLEXPRESS;Initial Catalog=LaundryDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />

		<authentication mode="None" />

		<pages controlRenderingCompatibilityVersion="4.0"
			   clientIDMode="AutoID" />
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp"
					  extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
		</compilers>
	</system.codedom>

</configuration>
